In [1]:
# Question 1

def is_sorted(list1):
    if list1 == sorted(list1):
        return True
    else:
        return False
    
    
is_sorted(["g", "b", "b"])

False

In [2]:
# Question 2

def chop(chop_list):
    del chop_list[0], chop_list[-1]
    
    
    
print(chop([1, 2, 3, 4]))

None

In [3]:
# Question 3

def middle(list1):
    new_list = list1.copy()
    del new_list[0], new_list[-1]
    return new_list


middle([1, 2, 3, 4])

[2, 3]

In [4]:
# Question 4

def divisible():
    comma_seq = [number for number in range(2000, 3201)if number % 7 == 0 and number % 5 != 0]
    print(comma_seq)
    
    
    
divisible()

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [5]:
# Question 5

def division():
    try:
        result = 5/0
        print(result)
    except:
        print("Zero Division Error: Can´t divide numbers by zero.")


    
division()

Zero Division Error: Can´t divide numbers by zero.

In [6]:
# Question 6

def triangle():
    base = input("Please enter the base of a triangle in mm: ")
    height = input("Please enter the height of a triangle in mm: ")
    if "m" in base or "m" in height:
        base = base[:-2]
        height = height[:-2]
        area = (int(base)*int(height))/2
        print("The area of your triangle is", area, "mm²")
    else:
        area = (int(base)*int(height))/2
        print("The area of your triangle is", area, "mm²")
  


triangle()

Please enter the base of a triangle in mm: 12mm
Please enter the height of a triangle in mm: 11mm
The area of your triangle is 66.0 mm²

In [1]:
# Question 7

import zoo

zoo.hours()

ModuleNotFoundError: No module named 'zoo'

In [12]:
# Question 8

import zoo as menagerie

menagerie.hours()

open 9-5 daily

In [16]:
# Question 9

from zoo import hours as info

info()

open 9-5 daily

In [179]:
# Question 10

def has_duplicates(list1):
    result = False
    for i in list1:
        if list1.count(i) > 1:
            result = True
            break
    return result      
       
      
    
    
has_duplicates([1, 2, 4, 1, "a"])

True

In [19]:
# Question 11
# The question doesn´t really state how often this loop has to run and how many classes we need 

def has_duplicates(list1):
    result = False
    for i in list1:
        if list1.count(i) > 1:
            result = True
            break
    return result


import random

import random
def generate_birthdays():
    birthday_list = []
    
    for i in range(1, 24):  # 23 students
        year = random.randint(1970, 2001)
        month = random.randint(1, 13)
        # some months do not have 31 days, but for the sake of this exercise, this will be ignored
        day = random.randint(1, 31)

        birthday = str(year) + str(month) + str(day)  # making a string out of the three numbers
        birthday_list.append(birthday)  # appending it to the list created at the top
    return birthday_list


count_bday = 0
maximum = 1000

for i in range(1, maximum):
    result = generate_birthdays()
    if has_duplicates(result) == True:
        count_bday = count_bday + 1

probability = count_bday / maximum
print(count_bday)
print(probability)
            
        
    
generate_birthdays()

15
0.015

['19921122',
 '1988810',
 '19761320',
 '1990127',
 '1980323',
 '1986628',
 '1995311',
 '198025',
 '198056',
 '19771213',
 '19971214',
 '2001313',
 '19751021',
 '1996416',
 '1988529',
 '19951028',
 '1983621',
 '1979522',
 '1991102',
 '1992716',
 '198571',
 '19831010',
 '1977223']